body{
    background-image: url(../sunset.jpg);
    background-position: center;
    height: 100%; 
    background-repeat: no-repeat;
    background-size: cover;
}
#clique-aqui{    
    cursor: pointer;
}
#todosCampos{
    padding-left: 25px;
    color: #FFFFFF;
}
#login-box{
    background-color: #FFFFFF;
    width: 380px;
    height: 280px;
    margin: 140px auto 0px;
    border-radius: 15px;
    box-shadow: 20px 20px 10px rgb(134,44,8);
}
.input-div{
    margin: 20px;
    padding: 5px;
    background-color: #f2f5f7;
    border-radius: 2px;
}
.input-div input{
    width: 310px;
    height: 35px;
    padding-left: 17px;
    font: normal 13px sans-serif;
    color: #aeaeae;
    border-radius: 3px;
    border: 1px solid #bfc4c6;
    outline: none;                
}
.input-div:hover{
    background-color: #11a6d4;
}
#login-box-label{
    text-align: center;
    font-size: 40px;
}
#botao{
    float: right;
    margin-right: 22px;
    margin-top: -25px;
    background-color: white;
    border: 2px solid #bfc4c6;
    cursor: pointer;
    padding: 7px;
    border-radius: 30%;
}
#lembrar-senha{                                           
    margin-left: 20px;
}
#senha-esqueceu{
    margin-left: 580px;
    padding-top: 20px;
    color: aqua;    
}
#header ul{
    border-radius: 15px;
    padding:20px;
    margin:0px;
    background-color:#F2F5F7;
    list-style:none;
}
#header ul li{
    display: inline;
    margin: 30px;                      
}
#header a{
    text-decoration: none;
    color: #000;          
}
#header a:hover{                
    color: #FFD72E;          
}

/* --- CADASTRO -- */

#cadastro-campos{
    margin-left: 22px;
    color: #FFF;
}
#cadastro-box{
    background-color: #FFFFFF;
    width: 580px;
    height: 350px;
    margin: 50px auto 0px;
    border-radius: 15px;
    box-shadow: 20px 20px 10px rgb(134,44,8);
}
.cadastro-input-div{
    margin: 20px;
    padding: 5px;
    background-color: #f2f5f7;
    border-radius: 2px;
}
.cadastro-input-div input{
    width: 510px;
    height: 35px;
    padding-left: 17px;
    font: normal 13px sans-serif;
    color: #aeaeae;
    border-radius: 3px;
    border: 1px solid #bfc4c6;
    outline: none;                
}
.cadastro-input-div:hover{
    background-color: #11a6d4;
}
#cadastro-box-label{
    text-align: center;
    font-size: 40px;
}
#botao-cadastro{
    margin-left: 250px;
    background-color: white;
    border: 2px solid #bfc4c6;
    cursor: pointer;
    padding: 10px;
    border-radius: 30%;
}

/* -- RECUPERAR SENHA -- */
#recuperar-campos{
    margin-left: 30px;
    color: white;
}
#recuperar-senha{    
    text-decoration: none;
    background-color: white;
    margin-left: 250px;
    border: 2px solid #bfc4c6;
    cursor: pointer;
    padding: 7px;
    color: black;
    border-radius: 30%;
}
#senha-box{
    background-color: #FFFFFF;
    width: 580px;
    height: 200px;
    margin: 110px auto 0px;
    border-radius: 15px;
    box-shadow: 15px 15px 10px rgb(70,71,72);
}
/* --- GRAFICO --- */
#temperatura {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
    width: 1150px;
    padding-top: 100px;
	margin: 0 auto
}
#humidade {
	min-width: 310px;
	max-width: 800px;
	height: 400px;
    width: 1150px;
    padding-top: 100px;
	margin: 0 auto
}